#details-movies {
    margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	.col {
		width: 48%;
        margin: auto;
	}

    img{
        
        height: 765px;
        width:564px;
    }

    h1{
        font-size: 50px;
		
    }
	p {
        
		line-height: 1.45em;
        font-size: 20px;
	}

	ul {
		margin-top: 40px;
        margin-bottom: 60px;
		padding-left: 5%;

		li {
			position: relative;
			margin-bottom: 15px;
			line-height: 1.45em;
			padding-left: 20px;
			font-size: 21px;

			&::before {
				content: '-';
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				position: absolute;
				top: 0;
				left: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}